* {
  font-family: 'roboto', sans-serif;
  font-weight: 900;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;

  background-image: url("./images/Frame\ 3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, .3);
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

.back-gray {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  
  opacity: .5;
}

.intro-title::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.intro-title:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  
}

.intro-title::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background-image: linear-gradient(to left,
  rgb(247, 205, 68),
  rgb(247, 134, 68));
  padding:3px;
  z-index: -1;
  transition: transform .6s ease;
}

.intro-title {
  position: relative;
  font-size: 5rem;

}

.intro-title a {
  text-decoration: none;
  color: #fff;

}